:root {
  --primary-color: #15c4d2;
  --secondary-color: white;
  --primary-text: "playfair Display", sans-serif;
  --secondary-text: "Poppins" sans-serif;
  --background-color: black;
}

.navbar-brand {
  margin-left: 70px;
  margin-right: 850px;
}

.intro-container {
  background-color:var(--background-color);
  padding: 120px 0 120px 0;
  margin: 0 40px 0 40px;
}

.introduction {
  text-align: center;
  margin-top: 100px;
}
.start {
  color: var(--secondary-color);
  background-image: url(../media/background.jpeg);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  font-size: 20px;
  margin-top: 30px;
  font-family: "tektur", sans-serif;
  padding: 10px 20px;
}

h1 {
  font-size: 96px;
  font-weight: bold;
  font-family: var(--primary-text);
  color: var(--primary-color);
}

h3,
h6,
p {
  font-family: var(--secondary-text);
}
.introduction p {
  font-size: 20px;
  opacity: 0.8;
  line-height: 1.5;
  color: var(--secondary-color);
}
h6 {
  font-size: 30px;
  color: var(--secondary-color);
}


.about-background{
  background-color: black;
}

.about-container {
  font-family: Space Mono, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
  color: var(--primary-color);
  margin: 150px 700px 0 150px;
  font-size: 26px;
  border: 5px solid white;
  border-radius: 30px;
  padding: 20px; 
}


.certfication-container{
  margin: 70px 150px 0 700px;
  font-family: Space Mono, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
  color:black ;
  background-color:var(--primary-color) ;
  font-size: 26px;
  border: 5px solid transparent;
  border-radius: 30px;
  padding: 20px;
}


.skills-container {
  margin: 70px 800px 0 150px;
font-family: Space Mono, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
  color:black;
  background-color: white;
  font-size: 26px;
  border: 5px solid transparent;
  border-radius: 30px;
  padding: 20px;
  
}
li{
  
  text-align:left;
}
.api{margin-right:64px;}


@media (max-width: 800px) {
  h1 {
    font-size: 50px;
  }

  .view-project {
    font-size: 15px;
    padding: 10px;
  }
}
